@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Rubik+Maps&display=swap');

.title {
    font-family: Bungee Spice;
}

.body {
    font-family: Rubik Maps;
    flex-direction: row;
    align-items: center;
}